<!-- amanbaev -->
<!-- <section class="youget"> -->
        <div class="youget__grid">
            <div class="youget__grid__item5">
                <h4 class="youget__grid__slogan">Here is what you get</h4>
            </div>
            <div class="youget__grid__item1">
                <img src="@img/youget/icon__1.png" alt="internet site">
                <div>
                    <h2 class="youget__grid__itemtitle">Creatred to Make The Web Better</h2>
                    <p class="youget__grid__itemtext">Aenean cursus imperdiet nisl id fermentum. Aliquam pharetra dui laoreet vulputate dignissim. Sed id metus id quam auctor molestie eget ut augue.</p>
                </div>
            </div>
            <div class="youget__grid__item2">
                <img src="@img/youget/icon__2.png" alt="timer">
                <div>
                    <h2 class="youget__grid__itemtitle">Incredibly Powerful Tool</h2>
                    <p class="youget__grid__itemtext">Maecenas eu dictum felis, a dignissim nibh. Mauris rhoncus felis odio, ut volutpat massa placerat ac. Curabitur dapibus iaculis mi gravida luctus. Aliquam erat volutpat.</p>
                </div>
            </div>
            <div class="youget__grid__item3">
                <img src="@img/youget/icon__4.png" alt="elixir">
            <div>
            <h2 class="youget__grid__itemtitle">Experimental Stuff</h2>
            <p class="youget__grid__itemtext">Maecenas eu dictum felis, a dignissim nibh. Mauris rhoncus felis odio, ut volutpat massa placerat ac. Curabitur dapibus iaculis mi gravida luctus. Aliquam erat volutpat.</p>
        </div>
    </div>
    <div class="youget__grid__item4">
        <img src="@img/youget/icon__3.png" alt="speed">
    <div>
    <h2 class="youget__grid__itemtitle">Creatred to Make The Web Better</h2>
    <p class="youget__grid__itemtext">Maecenas eu dictum felis, a dignissim nibh. Mauris rhoncus felis odio, ut volutpat massa placerat ac. Curabitur dapibus iaculis mi gravida luctus. Aliquam erat volutpat.</p>
</div>
</div>
<div class="youget__grid__item6">
    <picture>
        <source media="(max-width:480px)"
        srcset="@img/youget/editor__320.png">
        <img src="@img/youget/editor.png" alt="redactor screen">
    </picture>
</div>
</div>
<!-- </section> -->