<!-- volyk -->
<div class="header__wrapper">
  <div class="container header__navbar">
    <div class="header__navbar-wrapper">
      <a class="header__navbar-icon-wrapper" href="#">
        <div class="header__navbar-icon-image"></div>
        <p class="header__navbar-icon-name">FORKIO</p>
      </a>
      <div class="header__navbar-list-wrapper">
        <div class="header__navbar-list">
          <a class="header__navbar-list-item" href="#"><div class="header__navbar-list-item-back-line"></div><p>Overview</p></a>
          <a class="header__navbar-list-item" href="#"><div class="header__navbar-list-item-back-line"></div><p>About Fork</p></a>
          <a class="header__navbar-list-item" href="#"><div class="header__navbar-list-item-back-line"></div><p>Buying Options</p></a>
          <a class="header__navbar-list-item" href="#"><div class="header__navbar-list-item-back-line"></div><p>Support</p></a>
        </div>
        <input
          class="header__navbar-list-button button-style"
          type="button"
          value="Buy Now"
        />
      </div>
      <div class="header__navbar-list-button-menu">
        <img
          class="header__navbar-list-button-menu-image"
          src="@img/header/Menu2.png"
          alt="Button part"
        />
      </div>
    </div>
  </div>
  
  <div class="header__tittle-wrapper">
    <h1>Fork App</h1>
    <p>A real gamechanger in the world of web development</p>
    <p>v. 2.8 For Mac and Windows</p>
  </div>
</div>

<div class="container header__download-button-wrapper">
  <input
    class="header__download-button button-style"
    type="button"
    value="Download For Free Now"
  />
</div>
<p class="container header__download-conditions">
  Unlimited 30-Days Trial Period
</p>
