<!-- amanbaev -->

<!-- <section class="pricing"> -->
    <h2 class="pricing__title">Fork Subscription Pricing</h2>
    <div class="pricing__cardBox">
        <div class="pricing__card">
            <h3 class="pricing__card__label">Students</h3>
            <h3 class="pricing__card__price"><span class="pricing__card__dollar">$</span>29</h3>
            <p class="pricing__card__undrTxt">Per month</p>
            <div class="pricing__card__line"></div>
            <p class="pricing__card__desc1">Personal License</p>
            <p class="pricing__card__desc2">&#8195</p>
            <a class="pricing__card__purchase" href="#">purchase</a>
        </div>
        <div class="pricing__card">
            <h3 class="pricing__card__label">professional</h3>
            <h3 class="pricing__card__price"><span class="pricing__card__dollar">$</span>59</h3>
            <p class="pricing__card__undrTxt">Per month</p>
            <div class="pricing__card__line"></div>
            <p class="pricing__card__desc1">Professional License</p>
            <p class="pricing__card__desc2">Email Support</p>
            <a class="pricing__card__purchase" href="#">purchase</a>

        </div>
        <div class="pricing__card">
            <h3 class="pricing__card__label">agency</h3>
            <h3 class="pricing__card__price"><span class="pricing__card__dollar">$</span>99</h3>
            <p class="pricing__card__undrTxt">Per month</p>
            <div class="pricing__card__line"></div>
            <div class="pricing__card__descbox">
                <p class="pricing__card__desc1">1-12 Team Members</p>
                <p class="pricing__card__desc2">Phone Support</p>
            </div>
            <a class="pricing__card__purchase" href="#">purchase</a>
        </div>
        <div class="pricing__card">
            <h3 class="pricing__card__label">enterprise</h3>
            <h3 class="pricing__card__price"><span class="pricing__card__dollar">$</span>159</h3>
            <p class="pricing__card__undrTxt">Per month</p>
            <div class="pricing__card__line"></div>
            <p class="pricing__card__desc1">Unlimited Team Members</p>
            <p class="pricing__card__desc2">24/ 7 Phone Support</p>
            <a class="pricing__card__purchase" href="#">purchase</a>
        </div>
    </div>
<!-- </section> -->

