<!-- volyk -->
    <div class="main__testimonials-wrapper">
        <h1 class="main__testimonials-tittle">People Are Talking About Fork</h1>

        <div class="container main__testimonials-services-wrapper">

            <div class="main__testimonials-services">
                <img class="main__testimonials-services-icon" src="@img/testimonials/logo5 1.png" alt="Smashing">
                <p class="main__testimonials-services-description">Sed vestibulum scelerisque urna, eu finibus leo facilisis sit amet. Proin id dignissim magna. Sed varius urna et pulvinar venenatis. </p>
            </div>
    
            <div class="main__testimonials-services">
                <img class="main__testimonials-services-icon" src="@img/testimonials/logo6 1.png" alt="Codrops">
                <p class="main__testimonials-services-description">Donec euismod dolor ut ultricies consequat. Vivamus urna ipsum, rhoncus molestie neque ac, mollis eleifend nibh.</p>
            </div>
    
            <div class="main__testimonials-services">
                <img class="main__testimonials-services-icon" src="@img/testimonials/logo7 1.png" alt="W">
                <p class="main__testimonials-services-description">In efficitur in velit et tempus. Duis nec odio dapibus, suscipit erat fringilla, imperdiet nibh. Morbi tempus auctor felis ac vehicula. </p>
            </div>
    
            <div class="main__testimonials-services">
                <img class="main__testimonials-services-icon" src="@img/testimonials/logo8 1.png" alt="Pixel Buddha">
                <p class="main__testimonials-services-description">Sed vestibulum scelerisque urna, eu finibus leo facilisis sit amet. Proin id dignissim magna. Sed varius urna et pulvinar venenatis. </p>
            </div>
    
            <div class="main__testimonials-services">
                <img class="main__testimonials-services-icon" src="@img/testimonials/logo0 1.png" alt="Creative bloq">
                <p class="main__testimonials-services-description">Praesent ut eros tristique, malesuada lectus vel, lobortis massa. Nulla faucibus lorem id arcu consequat faucibus. </p>
            </div>
    
            <div class="main__testimonials-services">
                <img class="main__testimonials-services-icon" src="@img/testimonials/logo123 1.png" alt="TNW">
                <p class="main__testimonials-services-description">Fusce pharetra erat id odio blandit, nec pharetra eros venenatis. Pellentesque porttitor cursus massa et vestibulum.</p>
            </div>
        </div>
        
        <p class="container main__testimonials-description">Duis lobortis arcu sed arcu tincidunt feugiat. Nulla nisi mauris, facilisis vitae aliquet id, imperdiet quis nibh. Donec eget elit eu libero tincidunt consequat nec elementum orci. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. </p>
        
        <div class="container main__testimonials-demarcation-line"></div>
    </div>