//<!-- volyk -->

@import "reset";
@import "fonts";
@import "mixin";
@import "variables";
@import "style2.scss";

.container {
  max-width: $width-content-large;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
}

.button-style {
  border-radius: 40px;
  background-color: $secondary-color;
  cursor: pointer;
}

.header {
  &__wrapper {
    background: url("@img/header/img 1.png") no-repeat center/cover;
    height: 800px;
  }

  &__navbar {
    height: 118px;

    &-wrapper {
      @include flex(row, space-between, center);
      padding-top: 30px;
    }

    &-icon-wrapper {
      @include flex(row, space-between, center);
      text-decoration: none;
    }

    &-icon-image {
      width: 43px;
      height: 41px;
      background: url("@img/navbar/Logo 1.png") no-repeat;
    }

    &-icon-image:hover {
      background: url("@img/navbar/logo-hover 1.png") no-repeat;
    }

    &-icon-name {
      @include font-properties(
        $primary-font-name,
        $font-size-m,
        $weight-size-fat,
        $fourth-line-height,
        $secondary-color
      );
      padding-left: 17px;
    }

    &-icon-name:hover {
      color: $primary-color;
    }

    &-list {
      @include flex(row, space-between, center);
      width: 517px;

      &-wrapper {
        @include flex(row, space-between, center);
      }
      a {
        text-decoration: none;
      }

      &-item-back-line {
        display: none;
      }

      p {
        @include font-properties(
          $secondary-font-name,
          $font-size-xs,
          $weight-size-fat,
          $fourth-line-height,
          $secondary-color
        );
      }

      p:hover {
        color: $primary-color;
      }

      &-button {
        width: 145px;
        height: 37px;
        margin-left: 48px;
        border: 1px solid $secondary-color;
        @include font-properties(
          $secondary-font-name,
          $font-size-xs,
          $weight-size-fat,
          $fourth-line-height,
          $primary-color
        );
      }

      &-button:hover {
        background-color: $primary-color;
        color: $secondary-color;
      }
    }
  }

  .header__navbar-list-button-menu {
    display: none;
  }
  &__navbar-list-button-menu {
    &-image {
      width: 23px;
      height: 23px;
    }
  }

  &__tittle-wrapper {
    @include flex(column, flex-start, center);
    h1 {
      @include font-properties(
        $secondary-font-name,
        $font-size-3xl,
        $weight-size-fat,
        $twenty-third-line-height,
        $primary-color
      );
      margin-top: 65px;
      text-align: center;
    }
    p {
      @include font-properties(
        $primary-font-name,
        $font-size-ml,
        $weight-size-medium,
        $thirteenth-line-height,
        $secondary-color
      );
      margin-top: 19px;
      text-align: center;
    }
    :last-child {
      @include font-properties(
        $secondary-font-name,
        $font-size-xs,
        $weight-size-medium,
        $third-line-height,
        $third-color
      );
    }
  }

  &__download-button-wrapper {
    @include flex(column, center, center);
  }
  &__download-button {
    position: absolute;
    width: 390px;
    height: 62px;
    border: 2px solid $secondary-color;
    @include font-properties(
      $secondary-font-name,
      $font-size-s,
      $weight-size-fat,
      $eighth-line-height,
      $primary-color
    );
  }
  &__download-button:hover {
    background-color: $primary-color;
    color: $secondary-color;
  }

  &__download-conditions {
    text-align: center;
    margin-top: 48px;
    @include font-properties(
      $secondary-font-name,
      $font-size-3xs,
      $weight-size-medium,
      $second-line-height,
      $third-color
    );
  }
}

.main__testimonials {
  &-wrapper {
    @include flex(column, flex-start, center);
    background: url("@img/testimonials/testmonials-bg 1.png") no-repeat
      center/cover;
  }
  &-tittle {
    margin-top: 108px;
    text-align: center;
    @include font-properties(
      $secondary-font-name,
      $font-size-l,
      $weight-size-fat,
      $nineteenth-line-height,
      $primary-color
    );
  }
  &-services-wrapper {
    margin-top: 82px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 101px;
    column-gap: 87px;
  }

  &-description {
    margin-top: 115px;
    text-align: center;
    max-width: 887px;
    @include font-properties(
      $primary-font-name,
      $font-size-3xs,
      $weight-size-medium,
      $seventh-line-height,
      $sixth-color
    );
  }
  &-services {
    @include flex(column, space-between, center);
    &-description {
      @include font-properties(
        $third-font-name,
        $font-size-xs,
        $weight-size-fat,
        $tenth-line-height,
        $primary-color
      );
      text-align: center;
      padding-top: 22px;
    }
  }

  &-demarcation-line {
    margin-top: 19px;
    width: 66%;
    height: 2px;
    border: none;
    background-color: #645766;
  }
}

@import "size_768.scss";
@import "size_320.scss";
