// WIDTH контента
$width-content-large: 1200px;
$width-content-medium: 768px;
$width-content-narrow: 320px;

//FAMILY шрифта
$primary-font-name: "Lato";
$secondary-font-name: "Montserrat";
$third-font-name:"LatoItalic";

// SIZE шрифтов
$font-size-3xs: 14px;
$font-size-2xs: 15px;
$font-size-xs: 16px;
$font-size-xss: 18px;
$font-size-s: 21px;
$font-size-m: 24px;
$font-size-mm: 26px;
$font-size-ml: 30px;
$font-size-2ml: 42px;
$font-size-l: 48px;
$font-size-xl: 54px;
$font-size-2xl: 60px;
$font-size-2xxl: 72px;
$font-size-3xl: 82px;

// line-height шрифтов
$first-line-height: 14px;
$second-line-height: 15px;
$third-line-height: 16px;
$fourth-line-height: 17px;
$fifth-line-height: 18px;
$sixth-line-height: 20px;
$seventh-line-height: 21px;
$eighth-line-height: 22px;
$ninth-line-height: 23px;
$tenth-line-height: 24px;
$eleventh-line-height: 26px;
$twelfth-line-height: 28px;
$thirteenth-line-height: 30px;
$fourteenth-line-height: 32px;
$fifteenth-line-height: 38px;
$sixteenth-line-height: 42px;
$seventeenth-line-height: 44px;
$eighteenth-line-height: 48px;
$nineteenth-line-height: 50px;
$twentieth-line-height: 54px;
$twenty-first-line-height: 62px;
$twenty-second-line-height: 72px;
$twenty-third-line-height: 82px;
$twenty-fourth-line-height: 84px;
$twenty-fifth-line-height: 90px;

// WEIGHT шрифтов
$weight-size-fat: 700;
$weight-size-medium: 400;

// COLOR элементов, шрифтов ...
$primary-color: #FFFFFF;
$secondary-color: #8D81AC;
$third-color: #848E97;
$fourth-color: #635C73;
$fifth-color: #323232;
$sixth-color: #A291A5;

